.container {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 7px;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.toggleButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  gap: 10px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

/* hover effect */
.cardGrid>div:hover {
  transform: scale(1.05);
  transition: transform 0.45s ease;
}